@media print {
    @page {
        size: A4;
        margin: 8mm;
    }

    body * {
        visibility: hidden;
    }

    #bill-print, #bill-print * {
        visibility: visible;
    }

    #bill-print {
        position: absolute;
        left: 0;
        top: 0;
        width: 210mm;
        background: white;
        color: black;
    }

    .modal-header,
    .modal-footer,
    .close,
    nav,
    button {
        display: none !important;
    }
}
